<div class="container is-fluid mt-4 mb-4">
    <div class="box has-text-centered">
        <h1 class="title is-primary">{{ title }}</h1>
    </div>
    <div class="columns">
        <div class="column is-half has-text-centered">
            <section class="hero is-primary is-boldy">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Selenium
                        </h1>
                    </div>
                </div>
            </section>
            <div class="block mt-1">
                <div class='embed-container'><iframe [src]="safeurlSel" frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="column is-half has-text-centered">
            <section class="hero is-primary is-boldy">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Protractor
                        </h1>
                    </div>
                </div>
            </section>
            <div class="block mt-1">
                <div class='embed-container'><iframe [src]="safeurlPro" frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>