<div class="container is-fluid mt-4 mb-4">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Frames
                </h1>
                <h2 class="subtitle">
                    Interact with <strong>Frames</strong>
                </h2>
            </div>
        </div>
    </section>
    <div class="card">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="card">
                    <div class="card-content">
                        <iframe #my_iFrame (load)="myLoadEvent(my_iFrame)" src="frameUI" id="firstFr" name="firstFr">
                        </iframe>
                    </div>
                </div>

            </div>
            <div class="column">
                <div class="card-content">
                    <div class="notification is-info">
                        <p class="subtitle">What can I learn from this?</p>
                    </div>
                    <div class="box has-background-info-light">
                        <div class="content">
                            <ol type="1">
                                <li>Target Locator</li>
                                <li>switchTo()</li>
                                <li>defaultContent</li>
                                <li>parentFrame()</li>
                                <li>Overloading concept - JAVA</li>
                            </ol>
                        </div>
                    </div>
                    <div class="notification is-danger">
                        <p class="subtitle">Are you struck?</p>
                    </div>
                    <div class="box">
                        <button routerLink='/videos' class="button is-primary is-outlined is-fullwidth">
                            Refer the video
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>