<div class="container is-fluid mt-4 mb-4">
    <section class="hero bd-hero bd-is-basic">
        <div class="hero-body">
            <div class="container">
                <div class="bd-hero-body">
                    <div class="bd-hero-heading">
                        <h1 class="title algolia-lvl0">
                            <p>Playwright</p>
                        </h1>
                        <div class="subtitle is-4 algolia-lvl1">
                            <p>Playwright enables reliable end-to-end testing for modern web apps</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title">What is Playwright?</p>
                        <div class="content">
                            <p>Playwright is a Node.js library to automate Chromium, Firefox and WebKit with a single
                                API. Playwright is built to enable cross-browser web testing.
                            </p>
                            <ul>
                                <li>Playwright by Microsoft did start as a fork of Puppetee </li>
                                <li>Puppeteer is a node library to automate the chromium browsers with the
                                    JavaScript
                                    API</li>
                            </ul>
                            <div>
                                <p class="is-size-4">Capabilities:</p>
                                <ul>
                                    <li>It span multiple pages, domains, and iframes</li>
                                    <li>Intercept network activity for stubbing and mocking network requests</li>
                                    <li>Emulate mobile devices, geolocation, permissions</li>
                                    <li>Native input events for mouse and keyboard</li>
                                    <li>Upload & download support</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-info">
                <div class="content">
                    <p class="title">Why Playwright?</p>
                    <p class="subtitle">Playwright enables fast, reliable and capable automation across all modern
                        browsers </p>
                    <div class="content">
                        <p class="is-size-4">Support for all browsers</p>
                        <ul>
                            <li>Test on Chromium, Firefox and WebKit</li>
                            <li>for mobile (device emulation)</li>
                            <li>Headless and headful</li>
                        </ul>
                        <p class="is-size-4">Fast and reliable execution</p>
                        <ul>
                            <li>Auto-wait APIs (clicks, types, etc)</li>
                            <li>Timeout-free automation</li>
                            <li>Lean parallelization with browser contexts</li>
                            <li>Wide variety of selectors (locators) & shadow-dom support</li>
                            <li>Can handle single page application</li>
                        </ul>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="content">
        <div class="box">
            <h1>Playwright (TypeScript-Jest)</h1>
            <p class="has-text-info">Please follow the sequence to enhance your learning!</p>
        </div>
    </div>
    <div class="column is-full">
        <pw-video></pw-video>
    </div>
</div>