<div class="container is-fluid mt-4 mb-4">
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          File Management
        </h1>
        <h2 class="subtitle">
          Upload & Download
        </h2>
      </div>
    </div>
  </section>
  <div class="card">
    <div class="columns">
      <div class="column is-two-thirds">
        <div class="columns">
          <div class="column">
            <div class="card-content">
              <div class="field">
                <h2 class="title">Upload
                </h2>
                <div class="file">
                  <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
                      <span class="file-icon">
                        <fa-icon [icon]="upload"></fa-icon>
                      </span>
                      <span class="file-label">
                        Choose a file…
                      </span>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="card-content">
              <h2 class="title">Download</h2>
              <div class="file is-boxed">
                <label class="file-label">
                  <button class="button"><a id="xls" [href]="" download="file/file.xlsx">Download
                      Excel</a><br /></button><br />
                  <button class="button"> <a id="pdf" [href]="" download="file/file.pdf">Download
                      Pdf</a><br /></button><br />
                  <button class="button"><a id="txt" [href]="" download="file/file.txt">Download
                      Text</a><br /></button>
                </label>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card-content">
              <h1 class="subtitle has-text-info">TODO</h1>
              <ol type="1">
                <li>Upload file</li>
                <li>Download all the file types</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card-content">
          <div class="notification is-info">
            <p class="subtitle">What can I learn from this?</p>
          </div>
          <div class="box has-background-info-light">
            <div class="content">
              <ol type="1">
                <li>How to download & upload files</li>
                <li>ChromeOption class</li>
                <li>SetFileDetector</li>
              </ol>
            </div>
          </div>
          <div class="notification is-danger">
            <p class="subtitle">Are you struck?</p>
          </div>
          <div class="box">
            <button routerLink='/videos' class="button is-primary is-outlined is-fullwidth">
              Refer the video
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>