<div class="container is-fluid mt-4 mb-4">
    <div class="box title has-text-centered">
        Welcome to LetCode!
    </div>
    <div class="content">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            Testing Practice Site
                        </p>
                        <b class="is-size-1 has-text-centered">Only practice makes perfect</b>
                        <p class="subtitle">
                            “The best place to get all the interactive HTML components.”
                        </p>
                        <button routerLink='/test' id="testing" routerLinkActive="is-active"
                            class="button is-primary">Let's Go</button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            Videos
                        </p>
                        <p class="subtitle">
                            “Find all my YouTube videos in a sequence to enchance your learning.”
                        </p>
                        <button routerLink='/videos' id="watch" class="button is-primary">Watch</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            Programs
                        </p>
                        <p class="subtitle">
                            “Frequently asked interview programs”
                        </p>
                        <button routerLink='/videos' id="code" class="button is-primary" disabled>Code</button>

                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="title">
                            TODO
                        </p>
                        <p class="subtitle">
                            “TODO description”
                        </p>
                        <button class="button is-primary" disabled>Watch</button>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content ">
                        <p class="title has-text-centered">
                            Automation Interview Preparation
                        </p>

                        <div class="columns">
                            <div class="column is-half has-text-left">
                                <ul>
                                    <a class="panel-block is-active">
                                        <li>In a table, there are few items with prices, How do you sum up all the
                                            prices?</li>
                                    </a>
                                    <a class="panel-block is-active ">
                                        <li>How do you click on an element providing the property like it has a name &
                                            title?</li>
                                    </a>
                                    <a class="panel-block is-active ">
                                        <li>When you click on a button, a text appears on the screen, let’s say it will
                                            appear after 10, 20 seconds, or even 1 minute. So how do you handle this
                                            situation?</li>
                                    </a>
                                </ul>
                            </div>
                            <div class="column is-half">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/hQvU3DW8T_k"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                        <button routerLink='/interview/selenium-interview-videos'
                            class="button is-primary is-outlined is-fullwidth">
                            Refer All videos
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>