<div class="container is-fluid mt-4 mb-4" id="wrapper">
    <div class="box has-text-centered">
        <h1 class="title">Welcome Automation Engineer</h1>
    </div>
    <div class="box has-text-centered">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/edit.svg" alt="input">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Input</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/edit' id="edit" name="input"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/buttons.svg" alt="button">
                        </figure>
                    </div>
                    <div class=" card-content">
                        <p class="subtitle">Button</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/buttons' id="button" name="btn"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/select.svg" alt="select">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Select</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/dropdowns' id="select" name="dropdowns"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/alert.svg" alt="alert">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Alert</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/alert' id="alert" name="jsalert"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/frame.svg" alt="frame">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Frame</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/frame' id="myframe" name="frames"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box has-text-centered">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/radio.svg" alt="types">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Radio & Checkbox</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/radio' id="radio" name="radio-checks"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/window.svg" alt="window">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Windows</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/windows' id="win" name="windows"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/elements.svg" alt="elements">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Find Elements</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/elements' id="elements" name="find-elements" class=" button is-primary
                            is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/drag.svg" alt="drag">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Drag AUI</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/draggable' class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/falling.svg" alt="types">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Drop AUI</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/dropable' id="drop" name="drop"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="box has-text-centered">
        <div class="columns">
            <div class=" column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/slider.svg" alt="slider">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Slider AUI</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/slider' id="slider" name="slide"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/download.svg" alt="downloads">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Files</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/file' id="file" name="filemanagement"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class=" column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/sign-form.svg" alt="forms">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Forms</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/forms' id="forms" name="forms"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/download.svg" alt="downloads">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Files</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/file' id="file" name="filemanagement"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/calendar.svg" alt="calendar">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Calendar</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/calendar' class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="box has-text-centered">
        <div class="card">
            <div class="card-image">
                <figure class="image container is-96x96">
                    <img src=".../../../../../assets/mainicons/waits.svg" alt="wait">
                </figure>
            </div>
            <div class="card-content">
                <p class="subtitle">Waits</p>
            </div>
            <div class="card-footer">
                <button routerLink='/waits' id="waits" name="waits"
                    class="button is-primary is-outlined is-fullwidth">
                    Get me in!
                </button>
            </div>
        </div>
            <!--  <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/advtable.svg" alt="wait">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Calender</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/calender' id="calender" name="calenders"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image container is-96x96">
                            <img src=".../../../../../assets/mainicons/advtable.svg" alt="wait">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="subtitle">Advance Table</p>
                    </div>
                    <div class="card-footer">
                        <button routerLink='/advancedtable' id="advTable" name="tables"
                            class="button is-primary is-outlined is-fullwidth">
                            Get me in!
                        </button>
                    </div>
                </div>
            </div>-->
        </div>
    
</div>