<div class="container is-fluid mt-4 mb-4">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Waits
                </h1>
                <h2 class="subtitle">
                    Learn about <strong>ExpectedConditions</strong>
                </h2>
            </div>
        </div>
    </section>
    <div class="card">
        <div class="columns">
            <div class="column is-two-thirds">
                <div class="card-content">
                    <div class="field">
                        <label class="label" for="alert-accept">Accept the Alert</label>
                        <div class="control">
                            <button (click)="simple()" class="button is-link" id="accept">Simple
                                Alert</button>
                        </div>
                    </div>
                    <div class="content">
                        <p class="subtitle has-text-info">TODO</p>
                        <ol type="1">
                            <li>Accept the alert</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card-content">
                    <div class="notification is-info">
                        <p class="subtitle">What can I learn from this?</p>
                    </div>
                    <div class="box has-background-info-light">
                        <div class="content">
                            <ol type="1">
                                <li>ExpectedConditions</li>
                                <li>Waits for an alert</li>
                            </ol>
                        </div>
                    </div>
                    <div class="notification is-danger">
                        <p class="subtitle">Are you struck?</p>
                    </div>
                    <div class="box">
                        <button routerLink='/videos' class="button is-primary is-outlined is-fullwidth">
                            Refer the video
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>