<div class="container is-fluid mt-4 mb-4">
    <div class="box">
        <h1 class="title has-text-primary">LetXPath</h1>
        <h2 class="subtitle has-text-info">Save your time while inspecting elements</h2>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child notification is-primary">
                        <p class="title">Try it today itself</p>
                        <div class="columns">
                            <a class="column" target="_blank"
                                href="https://chrome.google.com/webstore/detail/letxpath/bekehlnepmijedippfibbmbglglbmlgk">
                                <figure class="image is-48x48">
                                    <img src="../../../assets/icons/chrome.svg" alt="letChrome">
                                </figure>
                            </a>
                            <!-- <a class="column" target="_blank"
                                href="https://chrome.google.com/webstore/detail/letxpath/bekehlnepmijedippfibbmbglglbmlgk">
                                <figure class="image is-48x48">
                                    <img src="../../../assets/icons/opera.svg">
                                </figure>
                            </a> -->
                            <a class="column" target="_blank"
                                href="https://microsoftedge.microsoft.com/addons/detail/letxpath/pofcpjkomkjloookffaigkimdkmnfgim">
                                <figure class="image is-48x48">
                                    <img src="../../../assets/icons/edge.png" alt="letMicro">
                                </figure>
                            </a>
                        </div>
                    </article>
                    <article class="tile is-child notification is-warning">
                        <p class="title">Change log</p>
                        <p class="subtitle">
                            <li>Enhanced XPath</li>
                            <li>CSS</li>
                            <li>Enhanced Axes XPath</li>
                            <li>Improved XPath label</li>
                        </p>
                    </article>
                </div>
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                        <p class="title">UI & Design</p>
                        <figure class="image is-4by3">
                            <img src="../../../assets/images/letxpath.png">
                        </figure>
                    </article>
                </div>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child notification is-danger">
                    <p class="title">Open Source Project</p>
                    <div class="content">
                        <p>LetXPath is an open source project, and LetCode offers <strong>
                                <a href="https://www.youtube.com/letcode" target="_blank"
                                    rel="noopener noreferrer">Tutorial Video</a>
                            </strong> on how to build your
                            XPath extension</p>
                    </div>
                </article>
            </div>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child notification is-success">
                <div class="content">
                    <p class="title">Features...</p>
                    <p class="subtitle">Simple but very powerful</p>
                    <div class="content">
                        <li>Generate more than 15 patterns</li>
                        <li>Supports parent & child relationship</li>
                        <p>Example: following, following-sibling, preceding, preceding-sibling</p>
                        <li>Code snippet
                            <ul>Selenium - Java</ul>
                            <ul>Selenium - Python</ul>
                            <ul>Selenium - c#</ul>
                            <ul>Protractor</ul>
                            <ul>Custom framwork</ul>
                        </li>
                        <li>and Lot's more surprises</li>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>