<div class="container is-fluid mt-4 mb-4">
    <div class="box">
        <h1 class="title is-primary">Get all the LetCode Videos here!</h1>
    </div>
    <div class="columns">
        <div class="column is-half has-text-centered">
            <section class="hero is-primary is-boldy">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            JavaScript
                        </h1>
                        <h2 class="subtitle">
                            Zero to hero for testers
                        </h2>
                    </div>
                </div>
            </section>
            <div class="block mt-1">
                <div class='embed-container'><iframe [src]="js" frameborder='0' allowfullscreen></iframe></div>
            </div>
        </div>
        <div class="column is-half has-text-centered">
            <section class="hero is-primary is-boldy">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            TypeScript
                        </h1>
                        <h2 class="subtitle">
                            Zero to hero for testers
                        </h2>
                    </div>
                </div>
            </section>
            <div class="block mt-1">
                <div class='embed-container'><iframe [src]="ts" frameborder='0' allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-half has-text-centered">
            <section class="hero is-danger is-boldy">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Protractor
                        </h1>
                        <h2 class="subtitle">
                            Basic to pro
                        </h2>
                    </div>
                </div>
            </section>
            <div class="block mt-1">
                <div class='embed-container'><iframe [src]="pro" frameborder='0' allowfullscreen></iframe></div>
            </div>
        </div>
        <div class="column is-half has-text-centered">
            <section class="hero is-danger is-boldy">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Chrome Extension Development
                        </h1>
                        <h2 class="subtitle">
                            XPath plugin development
                        </h2>
                    </div>
                </div>
            </section>
            <div class="block mt-1">
                <div class='embed-container'><iframe [src]="cr" frameborder='0' allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-half has-text-centered">
            <section class="hero is-warning is-boldy">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Selenium
                        </h1>
                        <h2 class="subtitle">
                            Few advance concepts
                        </h2>
                    </div>
                </div>
            </section>
            <div class="block mt-1">
                <div class='embed-container'><iframe [src]="sel" frameborder='0' allowfullscreen></iframe></div>
            </div>
        </div>
        <div class="column is-half has-text-centered">
            <section class="hero is-warning is-boldy">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            JavaScript
                        </h1>
                        <h2 class="subtitle">
                            Commonly asked programs
                        </h2>
                    </div>
                </div>
            </section>
            <div class="block mt-1">
                <div class='embed-container'><iframe [src]="jsp" frameborder='0' allowfullscreen></iframe></div>
            </div>
        </div>
    </div>

</div>